*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}
.logo img{
	border-radius: 100%;
}
.header{
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 6px solid #ccc;
}
.website{
	margin: 0 auto;
	height: 200px;
}
.webName{
	color: #7d97ad;
	font-weight: bold;

}


